* {
   margin: 0;
   padding: 0;
}

body {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(228, 234, 245);
}



h1 {
   color: rgb(86, 134, 224);
   margin-top: 2vh;
   margin-bottom: 1vh;
   text-align: center;
   font-size: 5vh;
   font-family: 'Rosario', sans-serif;
}


section {
   padding: 40px 20px 40px 20px;
   width: 300px;
   border-width: 1px;
   border-radius: 5px;
   margin-top: 15vh;
   background-color: rgb(205, 206, 248);
}

form {
   display: block;
   box-sizing: border-box;
   align-items: center;
   
}

label {
   margin-top: 1vh;
   font-size: 10px;
   color: rgb(86, 134, 224);
   font-family: 'Arimo', sans-serif;
   font-weight: bold;
}

input {
   display: block;
   box-sizing: border-box;
   width: 300px;
   height: 8vh;
   padding: 10px;
   
   margin-top: 1vh;
   border-radius: 8px;
   border-style: none;
   font-size: 20px;
   border-style: solid;
   border-width: 2px;
   border-color: rgb(216, 216, 216);
   
}

input:focus { 
   outline: none !important;
   border-color: rgb(132, 169, 236);
   
}
button {
   width: 300px;
   height: 8vh;
   font-size: 15px;
   border-radius: 8px;
   margin-top: 1vh;
   background-color: rgb(20, 87, 212);
   font-weight: bold;
   color: white;
   border-style: none;
   cursor: pointer;
}

button:hover {  
   box-shadow: 0 0 0.5em rgb(20, 87, 212);
   opacity: 90%;
}

input:hover {  
   box-shadow: 0 0 0.5em rgb(210, 216, 226);
   border-color: rgb(132, 169, 236);
   border-style: solid;
   border-width: 2px;
}

.links {
   font-family: 'Arimo', sans-serif;
   margin-top: 5vh;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   font-size: 10px;
}