.titulo-tabela {
   margin-top: 10vh;
   font-weight: bold;
   font-family: 'Arimo', sans-serif;
   color: #4649e9;
   border-radius: 10px;
   text-align: center;
}

.nome-colunas {
   background-color: #4649e9;
   color: white;
   font-weight: bold;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

tbody {
   background-color: #d4d4ec;
}
.cadastro-cred {
   background-color: #4649e9;
   margin-bottom: 20px;
   color: white;
   font-weight: bold;
   border-radius: 10px;
}

li button:hover {
   box-shadow: none;
}

.container-card-cred {
   display: flex; 
   justify-content: center; 
   align-items: center;
}

.card-cred {
   width: 25rem;
   max-width: 500rem;
   border-radius: 10px;
   margin-bottom: 50px;
}

.card-cred-title {
   font-family: 'Arimo';
   font-weight: bold;
   border-radius: 10px;
   background-color: #5866E4;
   padding: 3vh 3vh;
   color: #fff;
}

.card-cred-body label {
   font-size: 20px;
}

.card-cred-item {
   padding: 5px 5px;
   margin-bottom: 10px;
   background-color: #f2f3ff;
   border-radius: 10px;
}

.card-cred-item h4 {
   margin-left: 20px;
   font-family: 'Arimo';
   font-weight: bold;
}

.card-cred-item h5{
   padding-left: 50px;
   
}