.titulo-tabela-cred {
   font-weight: bold;
   font-family: 'Arimo', sans-serif;
   color: #fff;
   background-color: #5866E4;
   text-align: center;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   min-width: 24rem;
   font-size: 2rem; 
   padding:15px 15px;
   margin-bottom: 0px;
   border-bottom-style: solid;
   border-width: 1px;
   border-color: #F0F2FF;

}


.nome-colunas {
   background-color: #5866E4;
   color: white;
   font-weight: bold;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.nome-colunas th {
   padding: 15px 15px;
   font-size: 14px;
   font-family: 'Arimo', sans-serif;
}

tbody tr th {
   padding: 25px 25px;
   font-size: 14px;
   font-family: 'Arimo', sans-serif;
}

tbody {
   background-color: #F0F2FF;
}
.cadastro-cred {
   
   background-color: #5866E4;
   margin-bottom: 20px;
   color: white;
   font-weight: bold;
   border-radius: 10px;
   padding: 20px;
}

li button:hover {
   box-shadow: none;
}

.container-card-cred {
   display: flex; 
   justify-content: center; 
   align-items: center;
}

.card-cred {
   width: 25rem;
   max-width: 500rem;
   border-radius: 10px;
   margin-bottom: 50px;
}

.card-cred-title {
   font-family: 'Arimo';
   font-weight: bold;
   border-radius: 10px;
   background-color: #5866E4;
   padding: 3vh 3vh;
   color: #fff;
}

.card-cred-body label {
   font-size: 20px;
   
}

.card-cred-item {
   padding: 5px 5px;
   margin-bottom: 10px;
   background-color: #f2f3ff;
   border-radius: 10px;
}

.card-cred-item h4 {
   margin-left: 20px;
   font-family: 'Arimo';
   font-weight: bold;
}

.card-cred-item h5{
   padding-left: 50px;
   
}